.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    //   height: 95vh;
    column-gap: 6rem;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #46beff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #000066;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.loader2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate2 1s linear infinite
}

.loader2::before,
.loader2::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #46beff;
    animation: prixClipFix2 2s linear infinite;
}

.loader2::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #000066;
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix2 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.loader3 {
    width: 48px;
    height: 48px;
    display: block;
    // margin: 15px auto;
    position: relative;
    color: #46beff;
    box-sizing: border-box;
    animation: rotation3 1s linear infinite;
}

.loader3::after,
.loader3::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #46beff;
    border-radius: 50%;
    animation: animloader3 1s infinite ease-in-out;
}

.loader3::before {
    background-color: #000066;
    transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animloader3 {
    50% {
        transform: scale(1) translate(-50%, -50%);
    }
}